---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const docs = await getCollection("docs");

  return docs.map((doc) => ({
    params: { id: doc.id },
    props: { doc },
  }));
}

const { doc } = Astro.props;
const { Content } = await render(doc);
const { title } = doc.data;
---

<Layout title={title}>
  <main class="px-md py-lg">
    <article class="content [&_.astro-code]:p-xs [&_.astro-code]:rounded-md">
      <h1>{title}</h1>
      <hr />
      <Content />
    </article>
  </main>
</Layout>
