---
import Layout from "../layouts/Layout.astro";
import Logo from "../assets/logo.svg";
import Footer from "../components/Footer.astro";
---

<Layout>
  <section class="hero min-h-auto md:min-h-screen">
    <article class="content flex-grow items-center justify-center text-center">
      <Logo class="h-auto w-full" />
      <p>Lightweight, free, pure CSS components for Tailwind CSS.</p>
      <div class="btns not-content justify-center">
        <a class="btn btn-primary" href="/docs/get-started">Get Started</a>
      </div>
    </article>
    <Footer />
  </section>
</Layout>
