---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="hero min-h-auto md:min-h-screen">
    <article class="content text-center">
      <h1>Epicwind UI</h1>
      <p>Lightweight, free, pure CSS components for Tailwind CSS.</p>
      <div class="btns not-content justify-center">
        <a class="btn btn-primary" href="/docs/get-started">Get Started</a>
      </div>
      <p>
        <small
          >Epicwind UI is NOT associated with Tailwind CSS. Tailwind CSS is
          copyright of its respected owners.</small
        >
      </p>
    </article>
  </section>
</Layout>
