---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="hero min-h-auto md:min-h-screen">
    <article class="content items-center text-center">
      <h1
        class="before:border-primary relative before:absolute before:-top-[10px] before:-left-[12px] before:-z-10 before:block before:size-8 before:border-4"
      >
        Epicwind UI
      </h1>
      <p>Lightweight, free, pure CSS components for Tailwind CSS.</p>
      <div class="btns not-content justify-center">
        <a class="btn btn-primary" href="/docs/get-started">Get Started</a>
      </div>
      <p>
        <small
          >Epicwind UI is NOT associated with Tailwind CSS. Tailwind CSS is
          copyright of its respected owners.</small
        >
      </p>
    </article>
  </section>
</Layout>
