---
import CreatedBy from "./CreatedBy.astro";
---

<footer class="content mt-lg flex flex-col items-center text-center md:mt-0">
  <CreatedBy />
  <p>
    <small
      >This website serves no Javascript. Proudly built with <a
        href="https://astro.build/"
        target="_blank">Astro</a
      > and <a href="https://tailwindcss.com/" target="_blank">Tailwind</a
      >.</small
    >
  </p>
  <p>
    <small
      >Epicwind UI is NOT associated with Tailwind CSS. Tailwind CSS is
      copyright of its respected owners.</small
    >
  </p>
</footer>
