---
import CreatedBy from "./CreatedBy.astro";
---

<footer class="content mt-lg flex flex-col items-center text-center md:mt-0">
  <CreatedBy />
  <p>
    <small
      >Epicwind UI is NOT associated with Tailwind CSS. Tailwind CSS is
      copyright of its respected owners.</small
    >
  </p>
</footer>
