---
import SidebarLink from "./SidebarLink.astro";
---

<aside class="sidebar">
  <div class="content px-8 py-4 text-center">
    <h3>Epicwind UI</h3>
  </div>
  <ul>
    <SidebarLink href="/">Home</SidebarLink>
    <SidebarLink href="/docs/install">Install</SidebarLink>
    <SidebarLink href="/docs/hero">Hero</SidebarLink>
    <SidebarLink href="/docs/content">Content</SidebarLink>
    <SidebarLink href="/docs/btns">Btns</SidebarLink>
    <SidebarLink href="/docs/sidebar">Sidebar</SidebarLink>
  </ul>
</aside>
