---
import SidebarLink from "./SidebarLink.astro";
import Logo from "../assets/logo.svg";
---

<aside class="sidebar">
  <div class="px-md py-sm flex justify-center">
    <Logo class="h-auto w-full max-w-[186px]" />
  </div>
  <ul>
    <SidebarLink href="/">Home</SidebarLink>
    <SidebarLink href="/docs/get-started">Get Started</SidebarLink>
    <li>
      <div class="content px-sm py-xs">
        <h5>Vars</h5>
      </div>
      <ul>
        <SidebarLink href="/docs/colors">Colors</SidebarLink>
        <SidebarLink href="/docs/spacing">Spacing</SidebarLink>
        <SidebarLink href="/docs/defaults">Defaults</SidebarLink>
      </ul>
    </li>
    <li>
      <div class="content px-sm py-xs">
        <h5>Layout</h5>
      </div>
      <ul>
        <SidebarLink href="/docs/grid">Grid</SidebarLink>
        <SidebarLink href="/docs/flex">Flex</SidebarLink>
      </ul>
    </li>
    <li>
      <div class="content px-sm py-xs">
        <h5>Components</h5>
      </div>
      <ul>
        <SidebarLink href="/docs/alerts">Alerts</SidebarLink>
        <SidebarLink href="/docs/btns">Buttons</SidebarLink>
        <SidebarLink href="/docs/content">Content</SidebarLink>
        <SidebarLink href="/docs/forms">Forms</SidebarLink>
        <SidebarLink href="/docs/hero">Hero</SidebarLink>
        <SidebarLink href="/docs/sidebar">Sidebar</SidebarLink>
      </ul>
    </li>
  </ul>
</aside>
