---
import SidebarLink from "./SidebarLink.astro";
---

<aside class="sidebar">
  <div class="content px-md py-sm text-center">
    <h3>Epicwind UI</h3>
  </div>
  <ul>
    <SidebarLink href="/">Home</SidebarLink>
    <SidebarLink href="/docs/get-started">Get Started</SidebarLink>
    <li>
      <div class="content px-sm py-xs">
        <h5>Theme</h5>
      </div>
      <ul>
        <SidebarLink href="/docs/colors">Colors</SidebarLink>
        <SidebarLink href="/docs/spacing">Spacing</SidebarLink>
      </ul>
    </li>
    <li>
      <div class="content px-sm py-xs">
        <h5>Components</h5>
      </div>
      <ul>
        <SidebarLink href="/docs/btns">Buttons</SidebarLink>
        <SidebarLink href="/docs/content">Content</SidebarLink>
        <SidebarLink href="/docs/hero">Hero</SidebarLink>
        <SidebarLink href="/docs/forms">Forms</SidebarLink>
        <SidebarLink href="/docs/sidebar">Sidebar</SidebarLink>
      </ul>
    </li>
  </ul>
</aside>
