---
import SidebarLink from "./SidebarLink.astro";
import Logo from "../assets/logo.svg";
---

<aside class="sidebar pb-sm top-0 overflow-y-auto md:sticky md:h-screen">
  <div class="logo px-md py-sm flex justify-center">
    <a href="/">
      <Logo class="h-auto w-full max-w-[186px]" />
    </a>
  </div>
  <ul>
    <SidebarLink href="/">Home</SidebarLink>
    <li>
      <div class="content px-sm py-xs">
        <h5>Intro</h5>
      </div>
      <ul>
        <SidebarLink href="/intro/get-started">Get Started</SidebarLink>
        <SidebarLink href="/intro/theming">Theming</SidebarLink>
      </ul>
    </li>
    <li>
      <div class="content px-sm py-xs">
        <h5>Theme</h5>
      </div>
      <ul>
        <SidebarLink href="/theme/colors">Colors</SidebarLink>
        <SidebarLink href="/theme/defaults">Defaults</SidebarLink>
        <SidebarLink href="/theme/gutter">Gutter</SidebarLink>
        <SidebarLink href="/theme/spacing">Spacing</SidebarLink>
      </ul>
    </li>
    <li>
      <div class="content px-sm py-xs">
        <h5>Components</h5>
      </div>
      <ul>
        <SidebarLink href="/component/alert">Alert</SidebarLink>
        <SidebarLink href="/component/btn">Button</SidebarLink>
        <SidebarLink href="/component/content">Content</SidebarLink>
        <SidebarLink href="/component/form">Form</SidebarLink>
        <SidebarLink href="/component/header">Header</SidebarLink>
        <SidebarLink href="/component/hero">Hero</SidebarLink>
        <SidebarLink href="/component/logo">Logo</SidebarLink>
        <SidebarLink href="/component/nav">Nav</SidebarLink>
        <SidebarLink href="/component/sidebar">Sidebar</SidebarLink>
      </ul>
    </li>
    <li>
      <div class="content px-sm py-xs">
        <h5>Utilities</h5>
      </div>
      <ul>
        <SidebarLink href="/utility/flex">Flex</SidebarLink>
        <SidebarLink href="/utility/grid">Grid</SidebarLink>
        <SidebarLink href="/utility/gutter">Gutter</SidebarLink>
      </ul>
    </li>
    <li>
      <div class="content px-sm py-xs">
        <h5>Variants</h5>
      </div>
      <ul>
        <SidebarLink href="/variant/any-link">Any Link</SidebarLink>
      </ul>
    </li>
  </ul>
</aside>
