---
import "@fontsource-variable/montserrat";
import "../styles/global.css";
import Sidebar from "../components/Sidebar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Epicwind UI</title>
  </head>
  <body>
    <div class="grid grid-cols-1 md:min-h-screen md:grid-cols-[250px_1fr]">
      <Sidebar />
      <slot />
    </div>
  </body>
</html>
